<form method="post">
    <input type="hidden" name="POIID" value="@ViewBag.POIID" />

    <input name="LanguageCode" placeholder="vi / en" /><br />
    <input name="DisplayName" placeholder="Tên" /><br />
    <textarea name="ShortDescription"></textarea><br />
    <textarea name="NarrationText"></textarea><br />

    <button>Lưu</button>
</form>