<form method="post">
    <input name="Latitude" placeholder="Latitude" /><br />
    <input name="Longitude" placeholder="Longitude" /><br />
    <input name="Address" placeholder="Address" /><br />
    <input name="Category" placeholder="Category" /><br />

    <button>Tạo POI</button>
</form>